In [2]:
import pandas as pd
import yfinance as yf

In [19]:
df = yf.download("tsla", start="2021-01-12", end="2021-01-16", progress = False)

In [20]:
df.head(6)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-01-12,831.000000,868.000000,827.340027,849.440002,849.440002,46270700
2021-01-13,852.760010,860.469971,832.000000,854.409973,854.409973,33312500
2021-01-14,843.390015,863.000000,838.750000,845.000000,845.000000,31266300
2021-01-15,852.000000,859.900024,819.099976,826.159973,826.159973,38647900